<!-- <!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <title>Хедер - AEROSYSTEMS</title>
</head>

<body>
    <header class="site-header">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="photos/logo-transparent-png.png" alt="Логотип AEROSYSTEMS">
            </a>
            <nav class="main-nav">
                <ul>
                    <li><a href="index.html" class="active">Главная</a></li>
                    <li><a href="about.html">О компании</a></li>
                    <li><a href="services.html">Услуги</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html> -->